<h1>{{title}}</h1>
<hr/>
<div class="weui-icon-success-no-circle">带说明的列表项</div>
<p class="weui-icon-waiting">aa</p>

<h2><button class="weui-btn weui-btn_primary" [routerLink]="['/contact']" routerLinkActive="active">Contact</button></h2>
<h2><button class="weui-btn weui-btn_primary" [routerLink]="['/enquiry/askb']" routerLinkActive="active">enquiry</button></h2>
<h2><button class="weui-btn weui-btn_primary" [routerLink]="['/latent/']" routerLinkActive="active">latent</button></h2>

<router-outlet></router-outlet>
